# <center> Plots for journal </center>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

Load dataframes.

In [4]:
df_oursin = pd.read_csv("../PsiResults/ComparePsis/wcano_compare_emul_oursin/compare_lists_df.txt")
df_cascade = pd.read_csv("../PsiResults/ComparePsis/wcano_compare_emul_cascade_top335emulUsers/compare_lists_df.txt")

In [5]:
df_oursin[:5]

   N  min_psi_emul  min_psi_model   kendall    mean_dist  common_users_prop
0  2      0.007922       0.010367  1.000000  3894.000000           0.500000
1  3      0.006430       0.007884  1.000000  3894.333333           0.333333
2  4      0.006418       0.006774  0.333333  3893.750000           0.750000
3  5      0.006025       0.006212  0.000000  3893.000000           1.000000
4  6      0.004151       0.004977  0.333333  3893.166667           0.833333

In [6]:
df_cascade[:5]

   N  min_psi_emul  min_psi_model   kendall   mean_dist  common_users_prop
0  2      0.006430       0.003020  1.000000  137.000000           0.500000
1  3      0.006418       0.003011  0.333333  121.000000           0.333333
2  4      0.006025       0.002637 -0.333333   91.500000           0.500000
3  5      0.004151       0.002210 -0.200000   83.000000           0.400000
4  6      0.003748       0.001340  0.066667  112.333333           0.333333